[submodule "lib/HLSprovider"]
	path = lib/HLSprovider
	url = https://github.com/mangui/HLSprovider.git
[submodule "lib/osmf-hls-plugin"]
	path = lib/osmf-hls-plugin
	url = https://github.com/denivip/osmf-hls-plugin.git
[submodule "lib/dashas"]
	path = lib/dashas
	url = https://github.com/castlabs/dashas
